.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: grey;
}

.btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  border-color: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn2 {
  background-color: grey;
  color: black;
  border: none;
  border-radius: 15px;
  border-color: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 30px 10px 30px;
  margin: 5px;
  text-decoration: none;
}

.btn2:hover {
  background-color: rgb(83, 83, 83);
  color: white;
}

.btnAddRemove{
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  border-color: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
}

.btnAddRemove:hover {
  background-color: rgb(83, 83, 83);
  color: white;
}
.activeBtn {
  background-color: rgb(83, 83, 83);
  color: white;
  border: none;
  border-radius: 15px;
  border-color: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}
